// $ Försöker använda variabelnamn som inte har direkt att göra med färgen (t.ex. inte använda "guld"), så att om man ändrar färgen, är det inte helt konstigt $
$backgroundCol: #5422d4;
$royal:  #801C9B;
$sun: rgb(255, 219, 101);
$dark: #343a40;

// Funktionen "text-background-color" anpassar textfärgen till ljusheten av bakgrunden. 
@function text-background-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

body {
  background-color: $backgroundCol;
  color: white;
}
footer {
  background-color: $royal;
  border-top: 2px solid $sun; 
  height: 200px;
  margin-top: 100px;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: $sun;
    }
  }
}
h1 {
  color: text-background-color($backgroundCol)
}
h1, h2 { 
  text-align: center; 
}
nav {
  background-color: $royal;
  border-bottom: 2px solid $sun;
}
.border-sun {
  border: 2px solid $sun;
}
// $ container-sun finns för att spara flera bootstrap-klasser $
.container-sun {
  @extend
   .border-sun;
  background-color: white;
  border-radius: 10px;
  color: $dark;
  @media (min-width: 990px) {
    width: 720px;
  }
}
.navbar-toggler {
  border: 2px solid white;
}